.sign-up-layout {
  @apply bg-sign-up min-w-full min-h-screen flex flex-col relative md:px-9 sm:px-7 xs:px-5 px-0;
}
.sign-up-header {
  @apply flex justify-between w-full items-end
        md:pt-7 md:pb-5 sm:pt-6 sm:pb-4 xs:pt-5 xs:pb-3 pt-4 pb-2;
}
.sign-up-logo {
  @apply xs:block md:w-[193px] md:h-[22px] sm:w-[175px] sm:h-[20px] xs:w-[160px] xs:h-[18px] hidden;
}
.sign-up-form {
  @apply bg-field shadow-sign-up rounded-xl w-full flex-auto flex flex-col 
          md:pt-5 md:px-8 sm:pt-4 sm:px-7 xs:pt-3 xs:px-6 pt-3 px-5
          lg:h-[806px] md:h-[746px] sm:h-[706px] xs:h-[646px] h-[606px];
}
.sign-up-label {
  @apply large-font text-green font-bold;
}
.sign-up-progress-bar {
  @apply flex min-w-full pt-7 justify-evenly relative sm:mb-12 mb-6;
}
.progress-line {
  @apply min-w-full bg-[#A9B1BC] h-0.5 absolute sm:top-[50px] top-[25px];
}
.progress-item {
  @apply z-50 flex flex-col justify-center items-center;
}
.progress-item-label {
  @apply lowercase first-letter:uppercase sm:block hidden;
}
.progress-bullet {
  @apply w-[50px] h-[50px] rounded-full sm:block hidden;
}
.empty {
  @apply bg-white border border-[#A9B1BC] progress-bullet;
}
.on-progress {
  @apply bg-green bg-bullet bg-center bg-no-repeat progress-bullet;
}
.success {
  @apply bg-green bg-check bg-center bg-no-repeat progress-bullet;
}

@import '../signup-fields/SignUpFields.module.css';

.sign-up-buttons {
  @apply flex md:justify-start justify-between items-center;
}
.sign-up-button {
  @apply 
    middle-font 
    items-mb 
    md:w-[160px] sm:w-[130px] xs:w-[100px] w-[70px]
    xs:py-3 py-2
    text-white 
    rounded-[10px] 
    md:mr-5 last:mr-0
    bg-[#737272] 
    !important;
}
