@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .item-margins {
    @apply xl:mb-5 lg:mb-5 md:mb-4 sm:mb-3 xs:mb-3 mb-3;
  }
  .green-btn {
    @apply text-white bg-green-gradient;
  }
  .text-input {
    @apply font-normal not-italic text-sm;
  }
  .input-field {
    @apply flex flex-col item-margins;
  }
  .checkbox-field {
    @apply flex items-center relative pl-9;
  }
  .label-text {
    @apply text-black text-input mb-3;
  }
  .checkbox-label-text {
    @apply leading-6 mb-0 label-text;
  }
  .auth-input {
    @apply box-content bg-field rounded-lg border border-grey-br border-solid text-input text-black px-5 py-3 shadow-gray-300 placeholder-[#333];
  }
  .auth-checkbox {
    @apply absolute opacity-0 h-0 w-0 cursor-pointer;
  }
  .auth-checkbox ~ .checkmark {
    @apply absolute top-0 left-0 h-6 w-6 rounded-[5px] bg-field border border-grey-br hover:bg-[#ccc] after:absolute after:content-[''] after:hidden;
  }
  .auth-checkbox:checked ~ .checkmark {
    @apply bg-green after:block;
  }
  .checkmark {
    @apply 
      after:left-[8px] 
      after:top-[4px] 
      after:w-[6px] 
      after:h-[12px] 
      after:border-white 
      after:border-r-2 
      after:border-b-2
      after:rotate-45;
  }
  .alert-message {
    @apply text-purple text-sm flex-auto item-margins;
  }
  input[type='radio'] {
    @apply mr-3 w-5 h-5 accent-green;
  }
  .photo-input {
    @apply hidden;
  }
  .photo-input-frame {
    @apply 
      w-[340px] 
      h-[100px] 
      rounded-[10px] 
      border 
      border-solid 
      border-[#A9B1BC] 
      bg-white 
      flex 
      justify-center 
      items-center;
  }
  .photo-background {
    @apply bg-photo bg-auto bg-center bg-no-repeat;
  }
  .footer {
    @apply h-[70px] w-full;
  }
}

@layer components {
  @import '../components/auth/signup-form/SignUpForm.module.css';
  @import '../components/auth/signin-form/SignInForm.module.css';
}

@layer utilities {
}
