@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .novusbank {
    @apply min-h-screen flex flex-col font-roboto;
  }
  .novusbank-content {
    @apply flex-auto;
  }
  .small-font {
    @apply xs:text-sm text-xs;
  }
  .middle-font {
    @apply xs:text-md text-sm;
  }
  .large-font {
    @apply xs:text-lg text-md;
  }
  .items-mb {
    @apply xl:mb-9 lg:mb-7 md:mb-6 sm:mb-5 xs:mb-4 mb-3;
  }
  .green-btn {
    @apply text-white bg-green-gradient hover:bg-none hover:bg-green !important;
  }
  .text-input {
    @apply font-normal not-italic small-font;
  }
  .input-field {
    @apply flex flex-col items-mb;
  }
  .checkbox-field {
    @apply flex items-center relative pl-9;
  }
  .label-text {
    @apply text-black text-input mb-3;
  }
  .checkbox-label-text {
    @apply leading-6 mb-0 label-text max-w-[350px];
  }
  .auth-input {
    @apply box-content bg-field rounded-lg border border-grey-br border-solid text-input text-black sm:px-5 xs:px-3 px-2 py-3 shadow-gray-300 placeholder-[#333];
  }
  .auth-checkbox {
    @apply absolute opacity-0 h-0 w-0 cursor-pointer;
  }
  .auth-checkbox ~ .checkmark {
    @apply absolute top-0 left-0 h-6 w-6 rounded-[5px] bg-field border border-grey-br hover:bg-[#ccc] after:absolute after:content-[''] after:hidden;
  }
  .auth-checkbox:checked ~ .checkmark {
    @apply bg-green after:block;
  }
  .checkmark {
    @apply 
      after:left-[8px] 
      after:top-[4px] 
      after:w-[6px] 
      after:h-[12px] 
      after:border-white 
      after:border-r-2 
      after:border-b-2
      after:rotate-45;
  }
  .alert-message {
    @apply text-purple small-font flex-auto items-mb max-w-[400px];
  }
  input[type='radio'] {
    @apply mr-3 w-5 h-5 accent-green;
  }
  @import '@components/navigation/footer/Footer.module.css';
}

@layer components {
  @import '@components/auth/signup-form/SignUpForm.module.css';
  @import '@components/auth/signin-form/SignInForm.module.css';
}

@layer utilities {
}
