.sign-in-form {
  @apply xl:w-[420px] xl:pt-28 xl:pb-5 xl:pl-8 xl:pr-10  
         lg:w-[395px] lg:pt-28 lg:pb-4 lg:pl-7 lg:pr-9
         md:w-[370px] md:pt-28 md:pb-3 md:pl-6 md:pr-8 
         sm:w-[345px] sm:pt-24 sm:pb-3 sm:pl-7 sm:pr-7 
         xs:w-[320px] xs:pt-20 xs:pb-3 xs:pl-7 xs:pr-7
         w-fit h-fit pt-16 pb-3 pl-3 pr-3
         bg-field rounded-2xl shadow-sign-in relative flex flex-col;
}
.link-to-sign-in {
  @apply middle-font uppercase text-dark-green font-bold sm:w-28 xs:w-24 w-20 text-center;
}
.sign-in-layout {
  @apply bg-sign-in min-w-full min-h-screen grid place-items-center lg:pt-7 md:pt-5 sm:pt-3 pt-2;
}
.links-sign-in {
  @apply absolute top-0 left-0 flex w-full;
}
.link-sign-in {
  @apply middle-font text-black not-italic font-normal pt-3 pb-2 basis-1/2 text-center;
}
.link-to-sign-up {
  @apply block w-full h-full;
}
.sign-in-btn {
  @apply green-btn rounded-lg min-w-full sm:py-3 py-2;
}
